*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 150px;
    height:30px
}
.navbar {
    padding : 0 45px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
  }
  
  .nav a {
    color:grey;
    text-decoration: none;
    display: block;
    font-weight: bolder;
  }
  

  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }
 .centeredlogo{
    padding-left: 590px;
    padding-top:200px;
 }
  .centered_logo{
    height:50px;
    width:50px;
  }
  .firstheading p{
   display:flex;
   text-align: center;
    font-weight: 1000px;
    font-style: normal;
    color:aquamarine;
    justify-content: center;
    font-size: xx-large;
    
  }
  .writeup{
    display:grid;
    width:600px;
    height: 200px;
    justify-content: center;
    margin-left:350px; 
    grid-template-columns: 300px 300px;
    gap: 1.5em;
    
  }